# Dependências do Node.js
node_modules/
server/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de Ambiente e Chaves de API
.env
server/.env

# Logs e arquivos temporários
logs
*.log

# Arquivos de sistema operacional e IDEs
.DS_Store
Thumbs.db
.vscode/
.idea/
